*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body{
  background: #202020;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  position: relative;
  width: 20px;
  height: 43px;
}

.logo img{
  width: 50px;
  position: absolute;
  left: 20px;
  
}

.menu nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu nav ul li {
  padding: 18px 20px;
  cursor: pointer;
}
.menu nav ul li:hover {
  background-color: rgb(2, 201, 45);
}

.ir-al-carrito{
  background-color: rgb(255, 255, 255,0.0);
  cursor: pointer;
  border: none;
  margin-right: 20px;

}

.ir-al-carrito img{
  width: 30px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}