body{
  background: #202020;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
}

.menu nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu nav ul li {
  margin: 0 10px 0px 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}